@import url("mudl-theme.css");
*{
    text-align: left;
    direction: rtl;
}
.content{
    float:left;

}
.left-side-bar{
    float: right;
}
.upload-text {
    margin-top: -22px;
    margin-left: 14px;
}

.wrapper{
    width:100%;
    text-align: left !important;
    direction: ltr !important;
}

.top-news .col-sm-7{
    float:right;
}
.news_btn {
    text-align: right;
    direction: rtl;
}
.mudl-panel {
    margin-right: 0px !important;
    /* margin-left: 35px; */
}

p {
    text-align: left;
    direction: ltr;
}

.load_btn {
    margin-right: 21px !important;
    margin-left:0px !important;
}
.link-text {
    margin-left: 13px;
}
.project-title {
    padding-left: 10px;
}

.border-white {
    left: 10px;
    right:auto;
}
#accordion2 .panel-title a {
    padding: 12px 50px 12px 15px;
}

#accordion2 .panel-title a:before{
    right: 15px;
    left: auto;
}

#accordion2 .panel-body ul li {
    margin-left: -7px;
    margin-right: -45px;
    padding: 7px;
}
.mudl-panel .panel-title{
    margin-left:10px;
}
.close-panel{
    margin-top:-10px;
}

.graph{
    float: right;
    margin-left: 22px;
}

.menu-bar{
    text-align: left;
}

.menu-bar>.container>ul>li{
    float:left;
}

.menu-bar>.container>ul>li>i {
    float: right;
    margin-left: 10px;
    margin-right:0px;
}

.mudl-panel{
    margin-right: 35px;
}

.menu-bar>.container>ul>li.first .dropdown-menu {
    left: 90px !important;
}
.menu-bar>.container>ul>li.dropdown>.dropdown-menu{
    text-align:left;
    min-width: 195px;
}

ul.submenu>li{
    direction: rtl;
    text-align: left;
}

ul.sub_sub_menu{
    direction: rtl;
    text-align: left;
    left: 188px;
    right:auto;
    bottom: 31px;
}

ul.sub_sub_menu li {
    list-style-type: none;
    direction: rtl;
    text-align: left;
    padding: 3px 7px;
}

.council_btn {
    margin-right: 10px;
    float: right;
}
.date_council {
    padding-left: 14px;
}
.btn_council{
    float:right;
}

#file-input .icon, #file-output .icon {
    float: left;
    font-size: 12px;
    background-color: #2555A1;
    color: #FFF;
    padding: 3px 11px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: -13px;
    margin-right: auto;
    margin-top: 0px;
    height: 23px;
}

.upload-text {
    float: left;
    font-size: 12px;
    padding-left: 6px;
    padding-top: 3px;
    color: #000;
}
.doc_name{
    float:left;
}

.document-text{
    direction: ltr;
    margin-left: 50px;
}

.journal-div{
    float:left;
}

.text {
    padding-right: auto;
    padding-left: 30px;
}

.p-dash{
    float:right;
}

.m_l_m_25 {
    margin-left: 0px;
    margin-right: -20px;
}

.partner-office-name{
    float:left;
}
.menu-bar>.container>ul>li.dropdown>.dropdown-menu {
    left: 0px;
    right: auto;
}