html, body{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.pull-right{
    float:right !important;
}

.pull-left{
    float:left !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    float:left;
}

.m_l_m_25{    
    margin-left: -25px;
}
.h6, h6{
    font-size:0.9rem;
}
hr{ 
    width: 97%;
    /* margin-right: 15px; */
}

.mid-image-div{
    height: 195px;
    width: 245px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}
.mid-image-div>img{
    height: auto;
    width: inherit;
    align-content: center;
}
.grad {
    position: absolute;
    height: 195px;
    width: 257px;
    background: #2555A1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2555A1, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2555A1, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2555A1, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2555A1, transparent); /* Standard syntax */
}

a:hover, a:active, a:focus{
    text-decoration: none;
}

.mudl-panel{
    -webkit-box-shadow: 2px 0px 8px 0px rgba(115,113,115,1);
    -moz-box-shadow: 2px 0px 8px 0px rgba(115,113,115,1);
    box-shadow: 1px 0px 3px 0px rgba(115,113,115,0.5);
    margin-left:35px;
    padding:20px;
    padding-bottom:10px;
}
.mudl-panel .panel-heading{
    padding:8px;
    border-bottom:1px solid #ded;
    margin-bottom:10px;
}
.mudl-panel .panel-title{
    color:#25559f;
}

.graph{
    height:200px;
    width:280px;
}
.graph>img{
    height:inherit;
    width:inherit;
}
.textarea-control{
    resize: none;
}
