@media (min-width: 1920px){
    .container {
        max-width: 1530px;
    }
    .left-side-bar {
        width: 17%;
    }
    .content {
        width: 80%;
    }
    .card{
        width:19rem;
    }
    
    .menu-bar ,.menu-bar>.container>ul>li{
        height: 45px;        
        padding-right: 25px;
        padding-left: 25px;
    }
    .menu-bar>.container * {
        font-size: 21px;
        letter-spacing: 1px;
    }
    .menu-bar>.container>ul>li {
        padding-top: 8px;
    }
    p, div, span {
        font-size: 18px;
    }

    .social-media-bar {
        width: 100%;
        height: 35px;
    }
    .story_title, .document_title {
        font-size: 26px;
    }
    .slider-img>img {
        height: 311px;
        width: 620px;
    }
    .grad,.mid-image-div {
        width: inherit;
        height: 210px;
    }
    .date_news {
        margin-top: 6px;
    }

    .title{
        width: 100%;
        margin-bottom:30px;
        font-size: 30px;
    }
}

@media (max-width: 1024px){
    .web-menu{
        display: none;
    }
    .menu-bar-icon{
        display: block;
    }
    .slider-img {
        height: auto;
        width:inherit;
    }

    .slider-img>img {
        height: 300px;
        width: inherit;
    }
    .work_image {
        width: 100%;
        height: auto;
    }
    .major_work_panel {
        padding-right: 0px !important;
        padding-left: 0px !important;
        width: 100%;
        margin: 1%;
    }
    
    .work_image img {
        width: 100%;
        height: auto;
    }
    .content{
        margin-left:0%;
    }
    .left-side-bar {
        width: 23%;
    }
    .title {
        width: 100%;
    }
    .img-figure {
        width: 240px;
    }
    .journal_date {
        z-index: 10;
        position: absolute;
        top: 38px;
        left: 10px;
        color: #FFF;
        font-weight: 600;
    }

}


@media only screen and (max-width: 600px) {
    .menu-bar-icon{
        display: block;
    }
    .hidden-sm{
        display: none;
    }
    .slider-img {
        height: 100px;
        width: inherit;
        margin-bottom: 28px;
    }
    .slider-img>img {
        height: inherit;
        width: inherit;
    }
    .project-card{
        max-width: 90%;
        height: 300px;
    }
    .mudl-panel {
        -webkit-box-shadow: 2px 0px 8px 0px rgba(115,113,115,1);
        -moz-box-shadow: 2px 0px 8px 0px rgba(115,113,115,1);
        box-shadow: 1px 0px 3px 0px rgba(115,113,115,0.5);
        margin-left: -8px;
        padding: unset;
        /* padding-bottom: 10px; */
    }
    .work_image {
        width: 100%;
        height: 213px;
    }
    .work_image img {
        width: inherit;
        height: inherit;
    }

    .panel-body{
        padding:10px;
    }
    .work_grad {
        height: 220px;
    }
    .content{
        padding:0px !important;
        width: 68%;
    }
    .left-side-bar {
        width: 31%;
    }
    .card {
        width: 8rem;
    }
    .about {
        /* border: 1px solid lightgray; */
        border:unset;
        padding: 9px;
    }
    .title {
        font-weight: bold;
        font-size: 16px;
    }
    .gray-card .card-title {
        background-color: #cac5c57d;
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .link-text {
        font-size: 10px;
        list-style-type: none;
        padding-top: 10px;
        margin-right: -34px;
    }
    .news_btn {
        text-align: left;
        direction: ltr;
        margin-top: 30px;
    }
    .icon {
        font-size: 18px;
        margin-left: 10px;
    }
    .social_media_link span {
        font-size: 14px !important;
        color: #333;
    }
    .high-card{
        max-width: 92%;
        height:auto;
    }
    .council_description {
        height: auto;
    }
    p, div, span {
        font-size: 10px;
    }
    .council_tittle {
        font-size: 16px;
    }
    .project-title {
        padding-right: 11px;
        font-size: 13px;
    }
    .mid-image-div {
        height: 159px;
        width: 207px;
        margin: 0 auto;
        overflow: hidden;
    }
    .grad {
        height: 150px;
    }
    .doc_name {
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #file-output {
        background-color: #ededed;
        border-radius: 20px;
        height: 23px;
        cursor: pointer;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .upload-text {
        float: right;
        font-size: 7px;
        padding-right: 23px;
        padding-top: 0px;
        margin-top: -16px;
        color: #000;
    }
    .story_title, .document_title {
        /* font-weight: bold; */
        font-size: 16px;
        color: #3d3d3e;
        text-shadow: 0px 1px 1px;
        padding-bottom: 0px;
        border-bottom: 1px solid rgb(232, 232, 232);
    }
    .img-figure {
        width: 193px;
    }
}
