@import url("mudl-theme.css");

.social-media-bar{
    width: 100%;
    height: 30px;
    background-color:#2555A1;
    padding: 4px 0px;
    font-size: 13px;
    color: #FFF;
    font-weight: 600;
}
.logo-bar{
    height:100px;
    width:100%;
    background-color: #fafce6;
}
 
.logo-bar>.logo-img{
    height: 100px;
    width: 1340px;
}

ul.sub-menu>li{
    padding-top: 4px;
    list-style-type: none;
    height:30px;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 10px;
}
ul.sub-menu>li>a{
    color:#000;
}

ul.sub-menu{
    position: absolute;
    background-color: #ecebeb;
    left: -120px;
    bottom: 17px;
    text-align: right;
    direction: rtl;
    padding-right:0px;
}
ul.sub-menu>li{
    list-style-type: none;
    padding:6px 5px;
}

ul.sub-menu>li:hover{
    background-color: #c1272d;
}
ul.sub-menu>li:hover a{
    color:#FFF;
}


.menu-bar{
    height: 30px;
    width:100%;
    background-color: #c1272d;
    color: #FFF;
    text-align: right;
    margin-top: -14px;
}

.menu-bar>.container>ul>li{
    padding-top: 4px;
    float: right;
    list-style-type: none;
    display: inline;
    min-width: 100px;
    height: 30px;
    margin: 0px 0px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;  
}
.menu-bar>.container>ul>li>span{
    vertical-align: middle;
    font-weight: 600;   
}
.menu-bar>.container>ul>li>i{
    float: left;
    font-size: 12px;
    margin-top: 6px;
    margin-right:10px;
}
.menu-bar li:hover a{
    color:#c1272d;
}

span.lang a{
    color: #fff;
}

.menu-bar a{
    color:#FFF;
}

.menu-bar .active a{
    color:#c1272d;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu{
    position: relative;
    top: 1px !important;
    left: -30px !important;
    min-width: 155px;
    background-color: #ecebeb;
    color: #FFF ;
    text-align: right;
    border:none;
    border-radius: 0px;
    padding:0px;
    z-index: 9999999999999;
}

.project_text{
    text-align: justify;
    padding: 0px 15px;
    margin-top: 0px;
    color: #000 !important;
    height: 161px;
    overflow: hidden;
}




.menu-bar>.container>ul>li.first .dropdown-menu{
    left:5px !important;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li{
    padding: 6px 5px;
    border-bottom: 1px solid #cecdcd;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li>a{
    color:#000;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li:hover{
    background-color: #c1272d;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li:hover ul.submenu{
    background-color: #cecdcd;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li:hover>a{
    color:#FFF;
}

.menu-bar>.container>ul>li.dropdown>.dropdown-menu>li>a:hover{
    text-decoration: none;  
    color:#fff;  
}
.menu-bar>.container>ul>li.dropdown:hover, .active, 
.menu-bar>.container>ul>li:hover{
    background-color: #fff;
    color:#c1272d !important;
}

.menu-bar>.container *{
    font-size:16px;
}

.wrapper{
    margin-top:20px;
    width:100%;
    text-align: right;
    direction: rtl;
}

.left-side-bar{
    width:20%;
    min-height: 497px;
    float:left;
} 
.content{
    width: 77%;
    background-color: white;
    float: left;
    padding: 0px 0px 0px 20px;
    margin-left: 3%;
}
.search-form::placeholder{
    color:#ded;
}
.search-form{
    border: none;
    background-color: transparent;
    color: #ded;
    border-bottom: 2px solid #ded;
    margin-top: -10px;
    text-align:right;
}

/* Main Page Style Starts here */

.text{
    padding-right:30px;
}

.text .fa, .lang .la{    
    padding: 0px 5px;
}

.slider-img{
    height:330px;
    width:450px;
}
.slider-img>img{
    height:300px;
    width:450px
}

.news-text{
    text-align: justify;
    padding: 0px 15px;
    margin-top: -30px;
    color: #000 !important;
    height: 161px;
    overflow: hidden;

}

.news-icon>i{
    background-color: #2555A1;
    color:#FFF;
    border-radius: 50%;
    padding:5px;
    margin:2px 0px;
    font-size:10px;
}

#accordion2 .panel-title a{
    display: block;
    padding: 12px 15px 12px 50px;
    background:#2555A1;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    position: relative;
    text-decoration: none;
}
#accordion2 .panel-title a:before{
    content: "\f106";
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: transparent;
    border:1px solid #fff;
    border-radius :50%;
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    text-shadow: none;
    position: absolute;
    top: 8px;
    left: 15px;
}
#accordion2 .panel-title a.collapsed:before{ content: "\f107"; }
#accordion2 .panel-body{
    margin-top: -10px;
    padding: 0px 15px;
    font-size: 15px;
    color: #222;
    line-height: 27px;
    border: none;
    background-color: #f2f2f2;
}

#accordion2 .panel-body ul li a{
    color: #2555A1;
}
#accordion2 .panel-body  ul li{ 
    list-style-type: none;
    font-size: 17px;
    padding: 5px;
    border-bottom: 1px solid #ded;
    margin: 0px -45px;
    margin-left: 0px;
 }

 #accordioninside .panel-heading{
     margin:10px -15px;
     border-bottom: 1px solid #ded;
 }

 #accordioninside .panel-title a{
    display: block;
    padding: 12px 15px 12px 50px;
    background:#f2f2f2;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    color: #2555A1;
    position: relative;
    text-decoration: none;
}
#accordioninside .panel-title a:before{
    content: "\f068";
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    border-radius :50%;
    font-size: 16px;
    font-weight: 900;
    color: #2555A1;
    text-align: center;
    text-shadow: none;
    position: absolute;
    top: 8px;
    left: 8px;
    background: none;
    box-shadow: none;
    border: none;
}
#accordioninside .panel-title a.collapsed:before{ content: "\f067"; }
#accordioninside .panel-body{
    margin-top: -10px;
    padding: 0px 15px;
    font-size: 15px;
    color: #222;
    line-height: 27px;
    border: none;
    background-color: #f2f2f2;
}
#accordioninside .panel-body ul li a{
    color: #2555A1;
}

#accordioninside .panel-body ul li{
    font-size: 17px;
    padding: 5px;
    border-bottom: 1px solid #ded;
    margin: 0px -45px;
    margin-left: -26px;
}

.default-card {
    border:none;
    margin-bottom: 20px;    
}

.default-card .card-body {
    background-color: #cac5c533;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.card-text{
    padding:3px 10px;
    text-align:justify;
}
.default-card .card-title{
    margin-bottom: 0px;
    z-index: 9;
    text-align: center;
    background-color: #111111b3;
    color:#FFF;
    vertical-align: middle;
    padding:10px;
}
.gray-card .card-title{
    background-color: #cac5c57d;
    color:#000;
}
.about{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: auto;
    padding: 20px 20px;
}

.footer-div{
    padding-top:20px;
    direction: rtl;
    text-align: right;
}

.footer-div .title{
    padding-right:2px;
    padding-bottom:3px;
    border-bottom:2px solid #222;
}
.footer-bottom{
    width:100%;
    height:30px;
    background-color: #AA7239;
    text-align: center;
    direction: rtl;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    color:#FFF;
    padding-top:5px;
}
.about,p{
    /* padding-bottom: 20px; */
}
.news-tittle{
    position: absolute;
    z-index: 1111111;
    margin-top: -145px;
    color: #fff;
    border-bottom: 5px solid lightgray;
}
.work_img{
    height: 100px;
    border-radius: 3px;
}

.council_divs{
    border: 1px solid black;
    padding: 10px,10px;
    border-radius: 10px;
    margin: 5px,5px;
}

.title{
    font-weight:bold;
    font-size:24px;
    color: #3d3d3e;   
    text-shadow: 0px 1px 1px;
    float: right;
    /* background-color: #2555A1;
    padding: 10px ,10px; */
}

.description{
    font-size:17px;
}

.project-card{
    overflow: hidden;
    height: 375px;
    border-radius: 10px;
    border: 1px solid #0000001c;
    float:right;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    padding:0px !important;
    margin:10px;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
}
.project-title{
    padding-right: 10px;
    padding-top: 32px;
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
}


.border-white{
    min-width: 104px;
    border: 2px solid #FFF;
    position: absolute;
    top: 20px;
    right: 10px;
}
.image{
    border: 1px solid #00000008;
    border-radius: 10px;
    padding: 20px;
    width:100%;
    text-align: center;
}

.image>img{
    height: auto;
    width: inherit;
}
.council_tittle{
    color: #232323 !important;
    /* padding: 5px 5px !important; */
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #ded;
}
.council_description{
    color: #232323;
    opacity: 70% !important;
    padding: 0px 10px !important;
    height: 175px;
}
.council_btn{
    color: #2555A1 !important;
    border: 0px !important;
    border-radius: 5px !important;
    padding: 7px;
    background-color: rgba(37, 85, 161, 0.3) !important;
    margin-left: 10px;
    float: left;
}
.high-card{
    overflow: hidden;
    height: 322px;
    border-radius: 10px;
    border: 1px solid #0000001c;
    float:right;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    padding:15px !important;
    padding-bottom: 0px;
    margin:10px;
    flex: 0 0 46%;
    max-width: 46%;

}

.story_title,.document_title{
    /* font-weight:bold; */
    font-size:20px;
    color: #3d3d3e;   
    text-shadow: 0px 1px 1px;
    padding-bottom:10px;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.story_title{
    padding-top:10px;
    font-size:18px;
}
.document-text{
    height: 40px;
    margin-bottom: 10px;
}
.doc_name{
    font-size:18px;
}
.btn_council{
    padding-left: 0px;
    padding-right: 0px;
}
.date_council{
    color:#2555A1; 
}

.img-figure{
    width: 260px;
    height: auto;
    float:right;
    padding-left: 0px !important;
    padding-right: 0px;
    border-radius: 14px;
    padding-top: 10px;
}

.img-figure img{
    width:inherit;
    height: auto;
    border-radius: 14px;
}

.succes_row{
    border:1px solid #ded;
    border-radius:15px;    
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    padding:10px;
    margin-bottom: 10px;
}

.date{
    font-size: 12px;
    text-shadow: none;
    color: #2555A1;
    margin-bottom: -5px;
    margin-top: -7px;
}

.description{
    color:#222;
}
.journal_row{
    margin-bottom:20px;
}
.journal_image{
    height:100px;
    width:100px;
    border-radius: 15px;
    overflow: hidden;
    /* margin-top:-23px; */
}
.journal_image img{
    height:auto;
    width:100px;
}

.black_cover{
    z-index: 9;
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgba(0,0,0 ,0.7); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0 ,0.7), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0 ,0.7), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0 ,0.7), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0 ,0.7), transparent); /* Standard syntax */
    border-radius: 15px;
}

.journal_date{
    z-index: 10;
    position: absolute;
    top:38px;
    left:32px;
    color: #FFF;
    font-weight:600;
}
.date_news{
    color: #2555A1;
    margin-bottom: 18px;
    padding-right: 15px;
    font-size: 12px;
    margin-top: -8px;
}
.title_prov{
    margin-bottom: 0px;
}
.press_card{
    height: 160px;
    margin:0px;
    border: 0px;
    overflow: hidden;
    border-radius: 10px;
    float: right;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    padding: 15px !important;
    padding-bottom: 0px;
    flex: 0 0 46%;
    max-width: 30%;
    margin:10px;
}

.contact_title{
    color: #2555A1;
    font-size:20px;
    font-weight: 600;
    border-bottom:1px solid #ded;
    padding-bottom:10px;
    margin-top:40px;
}

.contact-text{
    font-size:16px;
    margin-bottom:40px;
}

.latest_news_text{
    color:#3d3d3eab;
    font-size:20px;
}

.latest_news_title{
    font-weight:600;
    font-size:25px;
}

.latest_news_desc{
    font-size:16px;
    text-align:justify;
}

.news_btn {
    text-align: left;
    direction: ltr;
}

.news_btn a{
    margin-top: -17px;
    margin-left: 13px;
    padding: 5px;
}

.graph{
    height: 230px;
    width: 50%;
    display: inline;
    float: left;
    margin-right: 27px;
    margin-bottom: 27px;
}
.graph>img{
    height:inherit;
    width:100%;
}

.close-panel{
    height: 30px;
    width: 30px;
    border: 1px solid #ded;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
    cursor: pointer;
    font-size: 19px;
}



.work_image{
    width:inherit;
    height:280px;
}
.work_image img{
    width:auto;
    height:inherit;
}

.work_grad {
    position: absolute;
    height: 280px;
    width: 93.3%;;
    background: #2555A1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2555A1, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2555A1, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2555A1, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2555A1, transparent); /* Standard syntax */
}

.partner_image{
    border-radius: 50%;
    overflow: hidden;
    display: inline;
}

.partner_image img{
    width: 60px;
    height: auto;
}

.news_link{    
    font-size: 18px;
    color: #222;
    display: block;
}

.f_title{
    font-size: 20px;
    font-weight: 600;
    border-bottom:1px solid #ded;
    padding-bottom:10px;
}

.la, .la:hover{
    color:#FFF;
}
.l_title{
    font-weight: 600;
}

p{
    text-align: right;
    direction: rtl;
}
ul.submenu{
    padding: 0 !important;
    background-color: #ecebeb !important;
    margin: -5px;
    margin-top: 7px;
    margin-bottom: -7px;
    border-top: 1px solid #cecdcd;
    border-bottom: 1px solid #cecdcd;
}
ul.submenu>li{
    list-style-type: none;
    direction: ltr;
    text-align: right;
    max-height: 30px;
    padding: 7px;
    margin: 0px;
    padding-right: 20px;
}


ul.submenu li a{
    color: #000 !important;
}

ul.submenu li:hover a{
    color: #c1272d!important;
}

ul.submenu li:hover .sub_sub_menu a{
    color: #000 !important;
}
ul.submenu li:hover{
    background-color: #FFF;
    /* max-width:inherit; */
}

ul.sub_sub_menu{
    position: relative;
    background-color: #ecebeb;
    right: 135px;
    bottom: 28px;
    /* z-index: -1; */
    padding: 0px;
}

ul.sub_sub_menu li{
    list-style-type: none;
    direction: ltr;
    text-align: right;
    padding: 7px;
    margin: 0px;
    padding-right: 5px;
}

ul.submenu li ul.sub_sub_menu li:hover a{
    color: #c1272d !important;
}

.social_media_link{
    padding: 5px 0px;
    direction:rtl;
}

.icon{
    font-size: 25px;
    margin-left: 10px;
}
.social_media_link a{
    color:#333;
}

.social_media_link span{
    font-size: 18px !important;
    color:#333;
}

.social_media_link a:hover i.fa-facebook{
    color:#3b5998;
}

.doc_name{
    float:right;
}

.journal-div{
    float:right;
}
.press_card{
    max-width: 30%;
    height: 185px;
}
.press_file{
    margin-top: 20px;
}
.press_upload_file{
    padding-right: 0px;
}

.card{
    width:16rem;
}
.link-text{
    font-size:16px;
    list-style-type: none;
    padding-top:10px;
    margin-right: -20px;
}

.load_btn{
    background-color: #007bff4d;
    margin-top: -25px !important;
    margin-left: 21px !important;
    margin-bottom: 8px !important;
    padding: 0px 8px !important;
    border-radius: 5px !important;
    color: #FFF !important;
}